.change-password-container {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .change-password-container {
    height: 80vh;
  }
}
.change-password-container .change-password-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 600px;
}
.change-password-container .change-password-wrapper .change-password-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #202124;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 500px) {
  .change-password-container .change-password-wrapper .change-password-title {
    font-size: 2rem;
  }
}
.change-password-container .change-password-wrapper .change-password-desc {
  font-size: 1rem;
  color: #5c6770;
  text-align: center;
  margin-bottom: 25px;
}
.change-password-container .change-password-wrapper .change-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  max-width: 400px;
}
.change-password-container .change-password-wrapper .change-password-form .change-password-input {
  padding: 0 16px;
  width: 100%;
  height: 60px;
  border: 1px solid #f0f5f7;
  border-radius: 10px;
  background-color: #f0f5f7;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: #5c6770;
  outline: none;
  transition: background 0.2s ease-in, border-color 0.2s ease-in;
}
.change-password-container .change-password-wrapper .change-password-form .change-password-input:focus {
  background-color: transparent;
  border-color: #1967d2;
}
.change-password-container .change-password-wrapper .change-password-form .email-error {
  color: rgb(243, 50, 50);
  font-size: 0.8rem;
}
.change-password-container .change-password-wrapper .change-password-form .submit-btn {
  width: 100%;
  max-width: 200px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #1967d2;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .change-password-container .change-password-wrapper .change-password-form .submit-btn {
    max-width: 170px;
  }
}
@media screen and (min-width: 1024px) {
  .change-password-container .change-password-wrapper .change-password-form .submit-btn {
    transition: background 0.4s ease;
  }
  .change-password-container .change-password-wrapper .change-password-form .submit-btn:hover {
    background-color: #0146A6;
  }
}
.change-password-container .change-password-wrapper .change-password-form .submit-btn:disabled {
  filter: brightness(70%);
  cursor: not-allowed;
}
.change-password-container .change-password-wrapper .change-password-form .submit-btn:active {
  filter: brightness(70%);
}

.change-password-success-container {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .change-password-success-container {
    height: 80vh;
  }
}
.change-password-success-container .change-password-success-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 600px;
}
.change-password-success-container .change-password-success-wrapper .change-password-success-icon-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e8f0fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.change-password-success-container .change-password-success-wrapper .change-password-success-icon-box i {
  font-size: 2rem;
  color: #1967d2;
}
.change-password-success-container .change-password-success-wrapper .change-password-success-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #202124;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 500px) {
  .change-password-success-container .change-password-success-wrapper .change-password-success-title {
    font-size: 2rem;
  }
}
.change-password-success-container .change-password-success-wrapper .change-password-success-desc {
  font-size: 1rem;
  color: #5c6770;
  text-align: center;
  margin-bottom: 25px;
}
.change-password-success-container .change-password-success-wrapper .change-password-success-link {
  width: 100%;
  background-color: #1967d2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.4s ease;
}
.change-password-success-container .change-password-success-wrapper .change-password-success-link:hover {
  background-color: #0146A6;
}
@media screen and (min-width: 500px) {
  .change-password-success-container .change-password-success-wrapper .change-password-success-link {
    width: fit-content;
  }
}

/*# sourceMappingURL=change-password.css.map */
