.password-recovery-container {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 100px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .password-recovery-container {
    height: 80vh;
  }
}
.password-recovery-container .password-recovery-wrapper {
  width: 100%;
  max-width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: #202124;
  margin-bottom: 25px;
}
@media screen and (min-width: 500px) {
  .password-recovery-container .password-recovery-wrapper .password-recovery-title {
    font-size: 2rem;
  }
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #202124;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-label:last-of-type {
  margin-bottom: 25px;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-label .password-recovery-input {
  padding: 0 16px;
  width: 100%;
  height: 60px;
  border: 1px solid #f0f5f7;
  border-radius: 10px;
  background-color: #f0f5f7;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: #5c6770;
  outline: none;
  transition: background 0.2s ease-in, border-color 0.2s ease-in;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-label .password-recovery-input:focus {
  background-color: transparent;
  border-color: #1967d2;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-label .error-message {
  color: rgb(243, 50, 50);
  font-size: 0.8rem;
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn {
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #1967d2;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn {
    max-width: 170px;
  }
}
@media screen and (min-width: 1024px) {
  .password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn {
    transition: background 0.4s ease;
  }
  .password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn:hover {
    background-color: #0146A6;
  }
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn:active {
  filter: brightness(70%);
}
.password-recovery-container .password-recovery-wrapper .password-recovery-form .password-recovery-submit-btn:disabled {
  filter: brightness(70%);
  cursor: not-allowed;
}

/*# sourceMappingURL=password-recovery.css.map */
