.profile {
  width: 100%;

  &__title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;

    @include breakpoint(largeScreen) {
      font-size: 2.5rem;
    }
  }

  &__profile-data-container,
  &__social-media,
  &__location {
    background-color: $white;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
    margin-bottom: 40px;

    @include breakpoint(tablet) {
      padding: 40px 30px;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 20px;
      grid-column: 1 / 3;

      @include breakpoint(largeScreen) {
        font-size: 2rem;
      }
    }

    &__upload-profile-image-container {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint(smallScreen) {
        flex-direction: row;
        align-items: center;
        gap: 28px;
      }

      &__upload-button-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__input {
          display: none;
        }

        &__profile-image {
          width: 120px;
          height: 120px;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
          cursor: pointer;
        }

        &__label {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          height: 120px;
          width: 120px;
          border-radius: 5px;
          color: $gray;
          font-size: 0.9rem;
          border: 2px dashed $lightGray;

          .upload-arrow-up {
            color: #9fa9b8;
            font-size: 1.25rem;
            margin-bottom: 5px;
          }
        }

        .error-message {
          color: rgb(243, 50, 50);
          font-size: 0.8rem;
        }
      }

      &__upload-text-box {
        margin-top: 20px;

        @include breakpoint(smallScreen) {
          margin-top: 0;
        }

        &__upload-text {
          font-size: 0.9rem;
          line-height: 24px;
          font-weight: 400;
          color: #696969;
        }
      }
    }

    &__label {
      display: flex;
      flex-direction: column;
      font-size: 1.125rem;
      font-weight: 500;
      gap: 5px;
      margin-bottom: 30px;

      @include breakpoint(tablet) {
        margin-bottom: 40px;
      }

      @include breakpoint(largeScreen) {
        font-size: 1.25rem;
        gap: 10px;
      }

      &__input {
        padding: 0 16px;
        height: 60px;
        border: 1px solid #f0f5f7;
        border-radius: 10px;
        background-color: #f0f5f7;
        font-size: 1rem;
        font-family: $jost;
        color: $gray;
        outline: none;
        transition: background 0.2s ease-in, border-color 0.2s ease-in;

        &:focus {
          background-color: transparent;
          border-color: $blue;
        }
      }

      &__select {
        padding: 0 16px;
        height: 60px;
        border: 1px solid #f0f5f7;
        border-radius: 10px;
        background-color: #f0f5f7;
        font-size: 1rem;
        font-family: $jost;
        color: $gray;
        outline: none;
        transition: background 0.2s ease-in, border-color 0.2s ease-in;

        &:focus {
          background-color: transparent;
          border-color: $blue;
        }
      }

      &__textarea {
        padding: 16px;
        height: 150px;
        resize: none;
        border: 1px solid #f0f5f7;
        border-radius: 10px;
        background-color: #f0f5f7;
        font-size: 1rem;
        font-family: $jost;
        color: $gray;
        outline: none;
        transition: background 0.2s ease-in, border-color 0.2s ease;

        &:focus {
          background-color: transparent;
          border-color: $blue;
        }
      }

      .error-message {
        color: rgb(243, 50, 50);
        font-size: 0.8rem;
      }
    }

    .full-width {
      grid-column: 1 / 3;
    }

    &__save-btn {
      width: 100%;
      padding: 15px 30px;
      border: none;
      border-radius: 10px;
      background-color: $blue;
      font-size: 1rem;
      font-family: $jost;
      color: $white;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:disabled {
        background-color: $darkBlue;
        cursor: not-allowed;
      }

      @include breakpoint(tablet) {
        max-width: 170px;
      }

      @include breakpoint(largeScreen) {
        transition: background 0.4s ease;

        &:hover {
          background-color: $darkBlue;
        }
      }

      &:active {
        filter: brightness(70%);
      }
    }
  }

  @include breakpoint(extraLargeScreen) {
    &__profile-data-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto auto auto;
      gap: 0 25px;
    }

    &__social-media {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto;
      gap: 0 25px;
    }

    &__location {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
      gap: 0 25px;
    }
  }
}
